.footer1
{
    border: 1px solid rgb(95, 94, 94);
    height: 200px;   
}
.Outer
{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 140px; 
}
.row
{
    
}
.column
{
    display: flex;
    position: relative;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.list-unstyled mb-0
{
    
}
.text-body
{
--tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: inherit;
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    margin-left: 25px;
    margin-right: 25px;
}